@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/RadioCanada-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'Radio-Canada Italic';
    src: url('../fonts/RadioCanada-Italic-Variable.ttf') format('opentype');
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Radio-Canada', sans-serif;
}

.container {
    position: absolute;
    bottom: 93px;
    left: 390px;
    height: 118px;
    width: 1500px;
    padding-right: 30px;
    z-index: 4;
    display: flex;
    transform: translateX(100%);
    animation: animateIn 0.75s ease-out forwards;
}

.page {
    display: flex;
    width: 519px;
    height: 738px;
    position: absolute;
    right: 0;
    bottom: 143px;
    background: rgba(51, 51, 51, 0.9);
}

.page-promo {
    height: 502px;
}

.page-name-only {
    height: 560px;
}

h1 {
    position: relative;
    top: -10px;
    left: 15px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    clip-path: inset(0 0 0 100%);
    animation: reveal 0.75s ease-in-out forwards 0.25s;
    width: 375px;
}

.name {
    font-size: 30px;
    color: #19c8d1;
}

.message {
    font-size: 28px;
    color: #f7f7f7;
    position: relative;
    top: 5px;
    /* opacity: 0; */
}

.img-container {
    background: #19c8d1;
    height: 500px;
    width: 380px;
    position: absolute;
    bottom: 0.5px;
    left: 3px;
    overflow: hidden;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    clip-path: inset(0 0 0 100%);
    animation: reveal 0.75s ease-in-out forwards 0.25s;
}

@keyframes reveal {
    0% {
        clip-path: inset(0 0 0 100%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes hide {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 100%);
    }
}

@keyframes animateIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0)
    }
}

@keyframes animateOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%)
    }
}
