@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/RadioCanada-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'Radio-Canada Italic';
    src: url('../fonts/RadioCanada-Italic-Variable.ttf') format('opentype');
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Radio-Canada', sans-serif;
}

.container {
    position: absolute;
    bottom: 104px;
    right: 207px;
    height: 132px;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: inAnimation 1s ease-in-out forwards 0.5s;
}

h1, h2 {
    color: #f7f7f7;
    margin: 0;
}

.countdown {
    font-size: 80px;
    font-weight: 600;
}

.timezone {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: -10px;
}

@keyframes inAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.2;
        transform: translateY(-10px);
    }
    100% {
        opacity: 0;
        transform: translateY(-15px);
    }
}
