@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/RadioCanada-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'Radio-Canada Italic';
    src: url('../fonts/RadioCanada-Italic-Variable.ttf') format('opentype');
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    font-family: 'Radio-Canada', sans-serif;
}

#wrapper {
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    color: white;
}

.container {
    overflow: hidden;
    position: absolute;
    bottom: 110px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    padding-left: 30px;
    animation: slideUp 1s ease-out forwards;
}

h1, h2 {
    margin: 10px 0;
}

.top-row {
    background: black;
    transform: translateY(100%);
}

@keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(100%);
      }
}