@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/RadioCanada-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'Radio-Canada Italic';
    src: url('../fonts/RadioCanada-Italic-Variable.ttf') format('opentype');
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Radio-Canada', sans-serif;
}

.container {
    position: absolute;
    bottom: 104px;
    left: 144px;
    height: 176px;
    width: 251px;
    z-index: 4;
}

.teal-box {
    position: relative;
    top: -20px;
    left: 69px;
    width: 181px;
    height: 44px;
    background: #4ebec6;
    color: black;
    animation: slideUp 1s ease-in forwards;
    clip-path: inset(100% 0 0 0);
}

h1 {
    font-size: 30px;
    position: relative;
    top: 5px;
    left: 15px;
}

.text-box {
    position: relative;
    left: 20px;
    top: -35px;
}

p {
    color: #e7e7e7;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 33px;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards 1s;
}

.email {
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 0;
    position: relative; 
    top: 2px;
    color: #f7f7f7;
}

.word, .email span {
    opacity: 0;
    display: inline-block;
    animation: fadeIn 1s ease forwards;
}

.email span {
    display: inline-block;
    animation: fadeInLetter 0.5s ease forwards;
}

@keyframes slideUp {
    from {
        clip-path: inset(100% 0 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes slideDown {
    from {
        clip-path: inset(0 0 0 0);
    }
    to {
        clip-path: inset(100% 0 0 0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLetter {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}