<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Test</title>
    <script src="js/spx_interface.js"></script>
    <link rel="stylesheet" type="text/css" href="css/spx_fonts.css" />
    <link rel="stylesheet" type="text/css" id="DynamicTheme" href="themes/default.css" />
    <link rel="stylesheet" href="./NEWS_TEST/NEWS_TEST.css">
    <script>
        let isLooping = true;
        function runTemplateUpdate() {
            e('f1_gfx').innerText = htmlDecode(e('f1').innerHTML);
            e('f2_gfx').innerText = htmlDecode(e('f2').innerHTML);
            e('f3_gfx').innerText = htmlDecode(e('f3').innerHTML);
            e('f4_gfx').innerText = htmlDecode(e('f4').innerHTML);
        }

        function runAnimationIN() {

        }

        function runAnimationOUT() {
            const wrapper = document.getElementById('wrapper');
            wrapper.style.animation = 'slideDown 1s forwards';
        }

        window.onload = function () {

        }

    </script>
    <script type="text/javascript">
        window.SPXGCTemplateDefinition = {
            "defversion": "1",
            "description": "News Test",
            "playserver": "OVERLAY",
            "playchannel": "1",
            "playlayer": "10",
            "webplayout": "10",
            "out": "manual",
            "dataformat": "json",
            "uicolor": "0",
            "DataFields": [
                {
                    "field": "f1",
                    "ftype": "textfield",
                    "title": "Header",
                    "value": "Financial Institutions can now offer tax-free home savings accounts"
                },
                {
                    "field": "f2",
                    "ftype": "textfield",
                    "title": "Title",
                    "value": "CBC Newsroom"
                },
                {
                    "field": "f3",
                    "ftype": "textfield",
                    "title": "Sub-Title",
                    "value": "Weekend Business"
                },
                {
                    "field": "f4",
                    "ftype": "textfield",
                    "title": "Footer",
                    "value": "Over 32% of eligible Islanders vote in advance polls for PEI election"
                }
            ]
        };
    </script>
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <!-- Top Row -->
            <div class="top-row row">
                <div class="title">
                    <h1 id="f1_gfx">Financial Institutions can now offer tax-free home savings accounts</h1>
                </div>
            </div>
            <!-- Middle Row -->
            <div class="middle-row row">
                <div class="middle-container">
                    <h1 id="f2_gfx">CBC Newsroom</h1>
                    <div class="square"></div>
                    <h1 id="f3_gfx">Weekend Business</h1>
                </div>
            </div>
            <!-- Bottom Row -->
            <div class="bottom-row row">
                <div class="title">
                    <h2 id="f4_gfx">Over 32% of eligible Islanders vote in advance polls for PEI election</h2>
                </div>
            </div>

            <div style="display:none;" id="f1"></div>
            <div style="display:none;" id="f2"></div>
            <div style="display:none;" id="f3"></div>
            <div style="display:none;" id="f4"></div>
        </div>
    </div>
</body>

</html>