<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticker</title>
    <script src="js/spx_interface.js"></script>
    <link rel="stylesheet" type="text/css" href="css/spx_fonts.css" />
    <link rel="stylesheet" type="text/css" id="DynamicTheme" href="themes/default.css" />
    <link rel="stylesheet" href="./TICKER/TICKER.css">
    <script>
        function runTemplateUpdate() {
            e('f1_gfx').innerText = htmlDecode(e('f1').innerHTML);
            processElement('f1_gfx');
        }

        function replaceSpacesWithNbsp(text) {
            return text.replace(/ /g, '&nbsp;');
        }

        function processElement(id) {
            let element = document.getElementById(id);
            if (element) {
                let decodedText = htmlDecode(element.innerHTML);
                let processedText = replaceSpacesWithNbsp(decodedText);
                element.innerHTML = processedText;
            }
        }

        function runAnimationIN() {
            const row = document.querySelector('.row');
            row.style.animation = 'slideUp 1s ease-out forwards';
        }

        function runAnimationOUT() {
            const row = document.querySelector('.row');
            row.style.animation = 'slideDown 1s forwards';
        }
    </script>
    <script type="text/javascript">
        window.SPXGCTemplateDefinition = {
            "defversion": "1",
            "description": "Ticker",
            "playserver": "OVERLAY",
            "playchannel": "1",
            "playlayer": "18",
            "webplayout": "18",
            "out": "manual",
            "dataformat": "json",
            "uicolor": "5",
            "DataFields": [
                {
                    "field": "f1",
                    "ftype": "textfield",
                    "title": "Ticker",
                    "value": "Over 32% of eligible Islanders vote in advance polls for PEI election"
                }
            ]
        };
    </script>
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <!-- Bottom Row -->
            <div class="bottom-row row">
                <div class="title">
                    <h2 id="f1_gfx">Over 32% of eligible Islanders vote in advance polls for PEI election</h2>
                </div>
            </div>

            <div style="display:none;" id="f1"></div>
        </div>
    </div>
</body>

</html>