@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/RadioCanada-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'Radio-Canada Italic';
    src: url('../fonts/RadioCanada-Italic-Variable.ttf') format('opentype');
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Radio-Canada', sans-serif;
}

.container {
    position: absolute;
    bottom: 236px;
    right: 0;
    height: 335px;
    width: 489px;
    padding-right: 30px;
    z-index: 4;
    display: flex;
    transform: translateX(100%);
    animation: animateIn 0.75s ease-out forwards 0.5s;
    background: rgba(51, 51, 51, 0.9);
}

.alt-height {
    height: 290px;
}

.text-box {
    position: relative;
    top: 3px;
}

h1 {
    position: relative;
    left: 9px;
    letter-spacing: -1px;
    font-weight: 500;
    clip-path: inset(0 0 0 100%);
    animation: reveal 0.75s ease-in-out forwards 0.75s;
    width: 375px;
    color: #f7f7f7;
    margin: 0;
}

.locator-text {
    position: relative;
    top: 2.5px;
}

.qr-code {
    max-height: 250px;
    filter: invert();
}

.hide {
    display: none;
}

@keyframes reveal {
    0% {
        clip-path: inset(0 0 0 100%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes hideAnimation {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 100%);
    }
}

@keyframes animateIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0)
    }
}

@keyframes animateOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%)
    }
}
