<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticker</title>
    <script src="js/spx_interface.js"></script>
    <link rel="stylesheet" type="text/css" href="css/spx_fonts.css" />
    <link rel="stylesheet" type="text/css" id="DynamicTheme" href="themes/default.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

        body {
            padding: 0;
            margin: 0;
            overflow: hidden;
            position: relative;
            font-family: 'Radio Canada', sans-serif;
        }

        #wrapper {
            width: 100vw;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: flex-start;
            color: white;
        }

        .container {
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100vw;
            padding-left: 30px;
            height: 50px;
            background: black;
        }

        .page {
            display: flex;
            transform: translateY(100%);
        }

        .name {
            margin-left: 2.5px;
            margin-right: 10px;
        }

        /* Keyframe animations */
        @keyframes inAnimation {
            0% {
                transform: translateY(100%);
            }
            100% {
                transform: translateY(0);
            }
        }

        @keyframes outAnimation {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-100%);
            }
        }

        @keyframes downAnimation {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(100%);
            }
        }

        /* Animation classes */
        .fade-in {
            animation: inAnimation 0.5s forwards;
        }

        .fade-out {
            animation: outAnimation 0.25s forwards;
        }
    </style>
    <script>
        let isLooping = true;
        function runTemplateUpdate() {
            // is Looping Checkbox
            isLoopingCheckbox = htmlDecode(e('f68').innerHTML);
            isLooping = isLoopingCheckbox == 1 ? true : false;
        }

        function runAnimationIN() {
        }

        function runAnimationOUT() {
            const container = document.querySelector('.container');
            container.style.animation = 'downAnimation 0.5s forwards';
        }

        window.onload = function () {
            preparePages();
        }

        function preparePages() {
            setTimeout(() => {
                const pagesContainer = document.getElementById('pages');
                pagesContainer.innerHTML = '';

                const transitionDuration = htmlDecode(e('f81').innerHTML);
                const transitionDurationNumber = +transitionDuration * 1000;

                const createPage = (index) => {
                    const nameText = document.getElementById(`f${index * 6 - 4}`).innerText.trim();
                    const titleText = document.getElementById(`f${index * 6 - 3}`).innerText.trim();

                    if (!nameText || !titleText) {
                        return null;
                    }

                    // Page
                    const page = document.createElement('div');
                    page.className = 'page';
                    page.id = `page${index}`;

                    // Name / Title -----------------------------------------------
                    const headerElement = document.createElement('h2');
                    const nameSpan = document.createElement('span');
                    const titleSpan = document.createElement('span');

                    nameSpan.id = `f${index * 6 - 4}_gfx`;
                    nameSpan.className = 'name';
                    nameSpan.innerHTML = nameText;

                    titleSpan.id = `f${index * 6 - 3}_gfx`;
                    titleSpan.innerHTML = titleText;

                    headerElement.appendChild(nameSpan);
                    headerElement.appendChild(titleSpan);

                    page.appendChild(headerElement);

                    return page;
                }

                const pages = [];

                for (let i = 1; i <= 10; i++) {
                    const page = createPage(i);
                    if (page) {
                        pages.push(page);
                    }
                }

                const displayPages = () => {
                    let currentPageIndex = 0;
                    const totalDuration = transitionDurationNumber * (pages.length + 3) + 2000;

                    const showPage = (page) => {
                        page.classList.add('fade-in');
                        page.style.display = 'flex';
                        pagesContainer.appendChild(page);

                        setTimeout(() => {
                            page.classList.remove('fade-in');
                            page.classList.add('fade-out');

                            setTimeout(() => {
                                page.style.display = 'none';
                                page.classList.remove('fade-out');

                                // Move to the next page or handle end of loop
                                currentPageIndex++;
                                if (currentPageIndex < pages.length) {
                                    // Show the next page
                                    showPage(pages[currentPageIndex]);
                                } else if (isLooping) {
                                    // Reset index for looping
                                    currentPageIndex = 0;
                                    showPage(pages[currentPageIndex]);
                                } else {
                                    // End animation sequence
                                    runAnimationOUT();
                                }
                            }, 250); // Duration of fade-out animation
                        }, transitionDurationNumber); // Duration to stay on screen
                    };

                    if (pages.length > 0) {
                        showPage(pages[0]); // Start the animation
                    }

                    // Update Total Out Value
                    const totalOutElement = e('f67');
                    totalOutElement.innerText = totalDuration;
                };

                // Start the animation sequence
                displayPages();
            }, 10);
        }
    </script>
    <script type="text/javascript">
        window.SPXGCTemplateDefinition = {
            "defversion": "1",
            "description": "Ticker Loop",
            "playserver": "OVERLAY",
            "playchannel": "1",
            "playlayer": "18",
            "webplayout": "18",
            "out": "manual",
            "dataformat": "json",
            "uicolor": "5",
            "DataFields": [
                {
                    "field": "f81",
                    "ftype": "textfield",
                    "title": "Transition (s)",
                    "value": "10"
                },
                {
                    "ftype": "caption",
                    "value": "Item 1"
                },
                {
                    "field": "f2",
                    "ftype": "textfield",
                    "title": "Name",
                    "value": "Name"
                },
                {
                    "field": "f3",
                    "ftype": "textfield",
                    "title": "Title",
                    "value": "Title"
                },
                {
                    "ftype": "divider"
                },
                {
                    "ftype": "caption",
                    "value": "Item 2"
                },
                {
                    "field": "f8",
                    "ftype": "textfield",
                    "title": "Name",
                    "value": ""
                },
                {
                    "field": "f9",
                    "ftype": "textfield",
                    "title": "Title",
                    "value": ""
                },
                {
                    "ftype": "divider"
                },
                {
                    "ftype": "caption",
                    "value": "Item 3"
                },
                {
                    "field": "f14",
                    "ftype": "textfield",
                    "title": "Name",
                    "value": ""
                },
                {
                    "field": "f15",
                    "ftype": "textfield",
                    "title": "Title",
                    "value": ""
                },
                {
                    "ftype": "divider"
                },
                {
                    "ftype": "caption",
                    "value": "Item 4"
                },
                {
                    "field": "f20",
                    "ftype": "textfield",
                    "title": "Name",
                    "value": ""
                },
                {
                    "field": "f21",
                    "ftype": "textfield",
                    "title": "Title",
                    "value": ""
                },
                {
                    "ftype": "divider"
                },
                {
                    "ftype": "caption",
                    "value": "Item 5"
                },
                {
                    "field": "f26",
                    "ftype": "textfield",
                    "title": "Name",
                    "value": ""
                },
                {
                    "field": "f27",
                    "ftype": "textfield",
                    "title": "Title",
                    "value": ""
                },
                {
                    "ftype": "divider"
                },
                {
                    "ftype": "caption",
                    "value": "Item 6"
                },
                {
                    "field": "f32",
                    "ftype": "textfield",
                    "title": "Name",
                    "value": ""
                },
                {
                    "field": "f32",
                    "ftype": "textfield",
                    "title": "Title",
                    "value": ""
                },
                {
                    "ftype": "divider"
                },
                {
                    "ftype": "caption",
                    "value": "Item 7"
                },
                {
                    "field": "f38",
                    "ftype": "textfield",
                    "title": "Name",
                    "value": ""
                },
                {
                    "field": "f39",
                    "ftype": "textfield",
                    "title": "Title",
                    "value": ""
                },
                {
                    "ftype": "divider"
                },
                {
                    "ftype": "caption",
                    "value": "Item 8"
                },
                {
                    "field": "f44",
                    "ftype": "textfield",
                    "title": "Name",
                    "value": ""
                },
                {
                    "field": "f45",
                    "ftype": "textfield",
                    "title": "Title",
                    "value": ""
                },
                {
                    "ftype": "divider"
                },
                {
                    "ftype": "caption",
                    "value": "Item 9"
                },
                {
                    "field": "f50",
                    "ftype": "textfield",
                    "title": "Name",
                    "value": ""
                },
                {
                    "field": "f51",
                    "ftype": "textfield",
                    "title": "Title",
                    "value": ""
                },
                {
                    "ftype": "divider"
                },
                {
                    "ftype": "caption",
                    "value": "Item 10"
                },
                {
                    "field": "f56",
                    "ftype": "textfield",
                    "title": "Name",
                    "value": ""
                },
                {
                    "field": "f57",
                    "ftype": "textfield",
                    "title": "Title",
                    "value": ""
                },
                {
                    "ftype": "divider"
                },
                {
                    "field": "f67",
                    "ftype": "hidden",
                    "title": "Total Out",
                    "value": "manual"
                },
                {
                    "field": "f68",
                    "ftype": "checkbox",
                    "title": "Loop Graphic",
                    "value": "1",
                }
            ]
        };
    </script>
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <div id="pages">
                <div class="page">
                    <h2><span>Name</span><span>Title</span></h2>
                </div>
            </div>

            <div style="display:none;" id="f1"></div>
            <div style="display:none;" id="f2"></div>
            <div style="display:none;" id="f3"></div>
            <div style="display:none;" id="f4"></div>
            <div style="display:none;" id="f5"></div>
            <div style="display:none;" id="f6"></div>
            <div style="display:none;" id="f7"></div>
            <div style="display:none;" id="f8"></div>
            <div style="display:none;" id="f9"></div>
            <div style="display:none;" id="f10"></div>
            <div style="display:none;" id="f11"></div>
            <div style="display:none;" id="f12"></div>
            <div style="display:none;" id="f13"></div>
            <div style="display:none;" id="f14"></div>
            <div style="display:none;" id="f15"></div>
            <div style="display:none;" id="f16"></div>
            <div style="display:none;" id="f17"></div>
            <div style="display:none;" id="f18"></div>
            <div style="display:none;" id="f19"></div>
            <div style="display:none;" id="f20"></div>
            <div style="display:none;" id="f21"></div>
            <div style="display:none;" id="f22"></div>
            <div style="display:none;" id="f23"></div>
            <div style="display:none;" id="f24"></div>
            <div style="display:none;" id="f25"></div>
            <div style="display:none;" id="f26"></div>
            <div style="display:none;" id="f27"></div>
            <div style="display:none;" id="f28"></div>
            <div style="display:none;" id="f29"></div>
            <div style="display:none;" id="f30"></div>
            <div style="display:none;" id="f31"></div>
            <div style="display:none;" id="f32"></div>
            <div style="display:none;" id="f33"></div>
            <div style="display:none;" id="f34"></div>
            <div style="display:none;" id="f35"></div>
            <div style="display:none;" id="f36"></div>
            <div style="display:none;" id="f37"></div>
            <div style="display:none;" id="f38"></div>
            <div style="display:none;" id="f39"></div>
            <div style="display:none;" id="f40"></div>
            <div style="display:none;" id="f41"></div>
            <div style="display:none;" id="f42"></div>
            <div style="display:none;" id="f43"></div>
            <div style="display:none;" id="f44"></div>
            <div style="display:none;" id="f45"></div>
            <div style="display:none;" id="f46"></div>
            <div style="display:none;" id="f47"></div>
            <div style="display:none;" id="f48"></div>
            <div style="display:none;" id="f49"></div>
            <div style="display:none;" id="f50"></div>
            <div style="display:none;" id="f51"></div>
            <div style="display:none;" id="f52"></div>
            <div style="display:none;" id="f53"></div>
            <div style="display:none;" id="f54"></div>
            <div style="display:none;" id="f55"></div>
            <div style="display:none;" id="f56"></div>
            <div style="display:none;" id="f57"></div>
            <div style="display:none;" id="f58"></div>
            <div style="display:none;" id="f59"></div>
            <div style="display:none;" id="f60"></div>
            <div style="display:none;" id="f66"></div>
            <div style="opacity:0;" id="f67"></div>
            <div style="opacity:0;" id="f68"></div>
            <div style="opacity:0;" id="f81"></div>
        </div>
    </div>
</body>

</html>