@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/RadioCanada-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'Radio-Canada Italic';
    src: url('../fonts/RadioCanada-Italic-Variable.ttf') format('opentype');
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    font-family: 'Radio-Canada', sans-serif;
}

#wrapper {
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    color: white;
}

.container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    padding-left: 30px;
    height: 50px;
    background: black;
}

.page {
    display: flex;
    transform: translateY(100%);
}

.name {
    margin-left: 2.5px;
    margin-right: 10px;
}

/* Keyframe animations */
@keyframes inAnimation {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes outAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes downAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

/* Animation classes */
.fade-in {
    animation: inAnimation 0.5s forwards;
}

.fade-out {
    animation: outAnimation 0.25s forwards;
}