<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medal Standings Board</title>
    <style>
        @font-face {
            font-family: 'Radio-Canada';
            src: url('img/fonts/RadioCanada-Variable.ttf') format('truetype');
        }

        @font-face {
            font-family: 'Radio-Canada Italic';
            src: url('img/fonts/RadioCanada-Italic-Variable.ttf') format('opentype');
        }

        @font-face {
            font-family: 'Radio-Canada Big';
            src: url('img/fonts/RadioCanadaBig-VariableFont.ttf') format('truetype');
        }

        body {
            padding: 0;
            margin: 0;
            overflow: hidden;
            position: relative;
            font-family: 'Radio-Canada', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #background-video {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
        }  

        #wrapper {
            height: 1080px;
            width: 1920px;
        }

        .container {
            height: 960px;
            width: 1920px;
            overflow: hidden;
            position: relative;
        }

        .v-align {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h1,
        h2 {
            margin: 0;
        }

        /* Keyframe animations */
        @keyframes inAnimation {
            0% {
                transform: translateY(100%);
            }

            100% {
                transform: translateY(0);
            }
        }

        @keyframes outAnimation {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-100%);
            }
        }

        /* Animation classes */
        .fade-in {
            animation: inAnimation 1.5s forwards;
        }

        .fade-out {
            animation: outAnimation 1.5s forwards;
        }

        /* Header */
        .header {
            width: 100%;
            position: absolute;
            top: 0;
        }

        .gradient {
            height: 245px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgb(35,88,166); /* Fallback for old browsers */
            background: linear-gradient(
                90deg, 
                #215ab4 0%,    /* Deep Blue Start */
                #3263bc 75%,   /* Mid-point to keep the left side bluer */
                #9b82e1 100%   /* Lavender/Purple End */
            );
        }

        .olympics-logo {
            height: 135px;
            position: relative;
            left: 164px;
            top: 93px;
        }

        .header-text {
            position: absolute;
            left: 307px;
            top: 80px;
            color: white;

        }

        .header-text h1 {
            font-size: 87.5px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: -4.5px;
            position: relative;
            left: 2px;
            font-family: 'Radio-Canada Big', sans-serif;
        }

        .header-text h2 {
            font-size: 41px;
            text-transform: uppercase;
            font-weight: 400;
            position: relative;
            top: -14px;
            left: 4px;
            letter-spacing: -0.5px;
        }

        /* Table */
        .table-container {
            height: 780px;
            margin-top: 245px;
            position: relative;
        }

        .dynamic-rows {
            overflow: hidden;
        }

        .row {
            height: 65px;
            background: #f0f0f0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 57px;
            padding-right: 60px;
        }

        .alt {
            background: #e4e4e4;
        }

        .spacer {
            background: white;
            opacity: 0.5;
            position: relative;
        }

        .row-spacer-alt {
            height: 1px;
            background: white;
            opacity: 0.5;
        }

        .medal-icons {
            position: absolute;
            right: 51px;
            top: 4.5px;
            width: 545px;
        }

        .medal-icons img {
            height: 55px;
        }

        .m-right {
            margin-right: 75px;
        }

        /* Row */
        .row h2 {
            font-size: 41px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 7.5px;
        }

        .country {
            display: flex;
        }

        .rank {
            width: 110px;
            display: flex;
            justify-content: center;
        }

        .rank h2 {
            font-weight: 350;
        }

        .flag {
            height: 60px;
            width: 113.5px;
            margin-top: 2.75px;
            /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3); */
        }

        .flag img {
            height: 60px;
        }

        .name {
            margin-left: 30px;
        }

        .medal-numbers {
            display: flex;
            width: 553px;
            justify-content: space-around;
            position: relative;
            left: -20px;
        }

        .medal-number {
            width: 133px;
            text-align: center;
        }

        .number-2 {
            position: relative;
            left: 2px;
        }

        .number-3 {
            position: relative;
            left: 4px;
        }

        .number-4 {
            position: relative;
            left: 8px;
        }

        .total-number {
            width: 160px;
            text-align: center;
        }

        .total-number h2 {
            font-weight: 500;
            font-size: 45px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <!-- Background Video -->
    {{!-- <video autoplay muted loop id="background-video">
        <source src="img/images/loop-bg.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video> --}}
    <!-- Wrapper -->
    <div id="wrapper">
        <div class="container">
            <!-- Header -->
            <div class="header">
                <div class="gradient">
                    <img src="img/images/milano-cortina.png" alt="Milano Cortina Logo" class="olympics-logo">
                    <span class="header-text">
                        <h1>Medal Standings</h1>
                        <h2 id="f1_gfx">Day 1</h2>
                    </span>
                </div>
            </div>
            <!-- Table -->
            <div class="table-container">
                <div class="row spacer">
                </div>
                <div class="medal-icons">
                    <img src="img/images/G.png" alt="Gold Medal" class="gold m-right">
                    <img src="img/images/S.png" alt="Silver Medal" class="silver m-right">
                    <img src="img/images/B.png" alt="Bronze Medal" class="bronze m-right">
                    <img src="img/images/TOTAL.png" alt="Overlapping Medals" class="total">
                </div>
                <div class="dynamic-rows"></div>
                <div class="row-spacer-alt"></div>
            </div>
        </div>
    </div>
    <script>
        const csvData = `
        AFG,AFGHANISTAN
        ALB,ALBANIA
        ALG,ALGERIA
        AND,ANDORRA
        ANG,ANGOLA
        ANT,ANTIGUA AND BARBUDA
        ARG,ARGENTINA
        ARM,ARMENIA
        ARU,ARUBA
        ASA,AMERICAN SAMOA
        AUS,AUSTRALIA
        AUT,AUSTRIA
        AZE,AZERBAIJAN
        BAH,BAHAMAS
        BAN,BANGLADESH
        BAR,BARBADOS
        BDI,BURUNDI
        BEL,BELGIUM
        BEN,BENIN
        BER,BERMUDA
        BIH,BOSNIA AND HERZEGOVINA
        BIZ,BELIZE
        BLR,BELARUS
        BOL,BOLIVIA
        BOT,BOTSWANA
        BRA,BRAZIL
        BRN,BAHRAIN
        BRU,BRUNEI DARUSSALAM
        BUL,BULGARIA
        BUR,BURKINA FASO
        CAF,CENTRAL AFRICAN REPUBLIC
        CAM,CAMBODIA
        CAN,CANADA
        CAY,CAYMAN ISLANDS
        CGO,REPUBLIC OF CONGO
        CHA,CHAD
        CHI,CHILE
        CHN,CHINA
        CIV,IVORY COAST
        CMR,CAMEROON
        COD,CONGO
        COK,COOK ISLANDS
        COL,COLOMBIA
        COM,COMOROS
        COR,UNITED KOREA
        CPV,CAPE VERDE
        CRC,COSTA RICA
        CRO,CROATIA
        CUB,CUBA
        CYP,CYPRESS
        CZE,CZECHIA
        DEN,DENMARK
        DJI,DJIBOUTI
        DMA,DOMINICA
        DOM,DOMINICAN REPUBLIC
        ECU,ECUADOR
        EGY,EGYPT
        ERI,ERITREA
        ESA,EL SALVADOR
        ESP,SPAIN
        EST,ESTONIA
        ETH,ETHIOPIA
        FIJ,FIJI
        FIN,FINLAND
        FRA,FRANCE
        FSM,MICRONESIA
        GAB,GABON
        GAM,GAMBIA
        GBR,GREAT BRITAIN
        GBS,GUINEA-BISSAU
        GEO,GEORGIA
        GER,GERMANY
        GHA,GHANA
        GRE,GREECE
        GRN,GRENADA
        GUA,GUATEMALA
        GUI,GUINEA
        GUM,GUAM
        GUY,GUYANA
        HAI,HAITI
        HKG,HONG KONG
        HON,HONDURAS
        HUN,HUNGARY
        INA,INDONESIA
        IND,INDIA
        IOA,INDIAN OLYMPIC ASSOCIATION
        IOC,INTERNATIONAL OLYMPIC COMMITTEE
        IOP,INDEPENDENT OLYMPIC PARTICIPANT
        IRI,IRAN
        IRL,IRELAND
        IRQ,IRAQ
        ISL,ICELAND
        ISV,US VIRGIN ISLANDS
        ITA,ITALY
        IVB,BRITISH VIRGIN ISLANDS
        JAM,JAMAICA
        JOR,JORDAN
        JPN,JAPAN
        KAZ,KAZAKHSTAN
        KEN,KENYA
        KGZ,KYRGYZSTAN
        KIR,KIRIBATI
        KOR,SOUTH KOREA
        KOS,KOSOVO
        KSA,SAUDI ARABIA
        KUW,KUWAIT
        LAO,LAOS
        LAT,LATVIA
        LBA,LIBYA
        LBN,LEBANON
        LBR,LIBERIA
        LCA,SAINT LUCIA
        LES,LESOTHO
        LIE,LIECHTENSTEIN
        LTU,LITHUANIA
        LUX,LUXEMBOURG
        MAD,MADAGASCAR
        MAR,MOROCCO
        MAS,MALAYSIA
        MAW,MALAWI
        MDA,MOLDOVA
        MDV,MALDIVES
        MEX,MEXICO
        MGL,MONGOLIA
        MHL,MARSHALL ISLANDS
        MKD,MACEDONIA
        MLI,MALI
        MLT,MALTA
        MNE,MONTENEGRO
        MON,MONACO
        MOZ,MOZAMBIQUE
        MRI,MAURITIUS
        MTN,MAURITANIA
        MYA,MYANMAR
        NAM,NAMIBIA
        NCA,NICARAGUA
        NED,NETHERLANDS
        NEP,NEPAL
        NGR,NIGERIA
        NIG,NIGER
        NOR,NORWAY
        NRU,NAURU
        NZL,NEW ZEALAND
        OAR,OLYMPIC ATHLETES OF RUSSIA
        OMA,OMAN
        PAK,PAKISTAN
        PAN,PANAMA
        PAR,PARAGUAY
        PER,PERU
        PHI,PHILIPPINES
        PLE,PALESTINE
        PLW,PALAU
        PNG,PAPUA NEW GUINEA
        POL,POLAND
        POR,PORTUGAL
        PRK,NORTH KOREA
        PUR,PUERTO RICO
        QAT,QATAR
        ROC,RUSSIAN OLYMPIC COMMITTEE
        ROT,REFUGEE OLYMPIC TEAM
        ROM,ROMANIA
        RPC,RUSSIAN PARALYMPIC COMMITTEE
        RSA,SOUTH AFRICA
        RUS,RUSSIA
        RWA,RWANDA
        SAM,SAMOA
        SEN,SENEGAL
        SEY,SEYCHELLES
        SGP,SINGAPORE
        SKN,SAINT KITTS-NEVIS
        SLE,SIERRA LEONE
        SLO,SLOVENIA
        SMR,SAN MARINO
        SOL,SOLOMON ISLANDS
        SOM,SOMALIA
        SRB,SERBIA
        SRI,SRI LANKA
        SSD,SOUTH SUDAN
        STP,SAO TOME AND PRINCIPE
        SUD,SUDAN
        SUI,SWITZERLAND
        SUR,SURINAME
        SVK,SLOVAKIA
        SWE,SWEDEN
        SWZ,ESWATINI
        SYR,SYRIA
        TAH,TAHITI
        TAN,TANZANIA
        TGA,TONGA
        THA,THAILAND
        TJK,TAJIKISTAN
        TKM,TURKMENISTAN
        TLS,EAST TIMOR
        TOG,TOGO
        TPE,CHINESE TAIPEI
        TTO,TRINIDAD AND TOBAGO
        TUN,TUNISIA
        TUR,TURKIYE
        TUV,TUVALU
        UAE,UNITED ARAB EMIRATES
        UGA,UGANDA
        UKR,UKRAINE
        URU,URUGUAY
        USA,UNITED STATES
        UZB,UZBEKISTAN
        VAN,VANUATU
        VEN,VENEZUELA
        VIE,VIETNAM
        VIN,ST. VINCENT AND THE GRENADINES
        YEM,YEMEN
        ZAM,ZAMBIA
        ZIM,ZIMBABWE
        BHU,BHUTAN
        GEQ,EQUATORIAL GUINEA
        ISR,ISRAEL
        `;

        // Convert CSV data to a Map
        const csvToMap = (csv) => {
            const lines = csv.trim().split('\n');
            const map = new Map();
            lines.forEach(line => {
                const [code, country] = line.trim().split(',');
                map.set(code.trim(), country.trim());
            });
            return map;
        };

        // Function to get country name by code
        const countryMap = csvToMap(csvData);
        const getCountryName = (code) => {
            return countryMap.get(code) || '';
        };

        const socket = new WebSocket('ws://10.142.14.53:8081');

        socket.addEventListener('open', function (event) {
            console.log('Connected to the WebSocket server');
        });

        socket.addEventListener('message', function (event) {
            console.log('Message from server ', event.data);
            const data = JSON.parse(event.data);
            updateHTML(data);
        });

        function updateHTML(data) {
            // Update the title
            const titleElement = document.getElementById('f1_gfx');
            if (titleElement) {
                titleElement.textContent = data.title;
            }

            // Get the container for dynamic rows
            const dynamicRows = document.querySelector('.dynamic-rows');
            dynamicRows.innerHTML = ''; // Clear existing content

            // Process each entry in the data array
            data.data.forEach((entry, index) => {
                const rowClass = index % 2 === 0 ? 'row' : 'row alt';

                if (entry.countryCode === 'XXX') {
                    dynamicRows.innerHTML += `<div class="${rowClass}"></div>`;
                    return;
                }

                const countryName = getCountryName(entry.countryCode);
                const rowHTML = `
                    <div class="${rowClass}">
                        <div class="country">
                            <div class="rank">
                                <h2>${entry.rank}</h2>
                            </div>
                            <div class="flag"><img src="/img/flags/${entry.countryCode}.png" alt="Country Flag"></div>
                            <div class="name">
                                <h2>${countryName}</h2>
                            </div>
                        </div>
                        <div class="medal-numbers">
                            <div class="medal-number">
                                <h2>${entry.gold}</h2>
                            </div>
                            <div class="medal-number number-2">
                                <h2>${entry.silver}</h2>
                            </div>
                            <div class="medal-number number-3">
                                <h2>${entry.bronze}</h2>
                            </div>
                            <div class="total-number number-4">
                                <h2>${entry.total}</h2>
                            </div>
                        </div>
                    </div>
                `;
                dynamicRows.innerHTML += rowHTML;
            });
        }
    </script>
</body>
</html>
