@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/RadioCanada-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'Radio-Canada Italic';
    src: url('../fonts/RadioCanada-Italic-Variable.ttf') format('opentype');
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Radio-Canada', sans-serif;
}

.container {
    position: absolute;
    bottom: 104px;
    left: 144px;
    height: 176px;
    width: 251px;
    z-index: 4;
}

.locator-box {
    position: absolute;
    z-index: 4;
    left: 249.5px;
    top: 0;
    height: 44px;
    width: max-content;
    overflow: hidden;
}

.white-box {
    background: #f7f7f7;
    position: relative;
    top: -20px;
    height: 44px;
    padding-right: 30px;
    clip-path: inset(0 100% 0 0);
    animation: clipIn 0.5s ease-out forwards;
}

.divider {
    position: relative;
    top: -3px;
    font-weight: 500;
}

h1 {
    font-size: 30px;
    position: relative;
    top: 5px;
    left: 15px;
}

.locator-text {
    opacity: 0;
    transform: translateX(-5px);
    animation: fadeInMove 0.5s ease-out 0.5s forwards;
}

.hide {
    display: none;
}

@keyframes clipIn {
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes fadeInMove {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes clipOut {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 100% 0 0);
    }
}
