@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/RadioCanada-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'Radio-Canada Italic';
    src: url('../fonts/RadioCanada-Italic-Variable.ttf') format('opentype');
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    font-family: 'Radio-Canada', sans-serif;
}

#wrapper {
    height: 160px;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-start;
    color: white;
}

.container {
    max-width: 1120px;
    width: 1120px;
    height: 160px;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    transform: translateX(100%);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.v-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 0;
}

.title-page {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 160px;
}

.text {
    margin-left: 25px;
}

.alt-text {
    margin-left: 15px;
}

/* Keyframe animations */
@keyframes inAnimation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes outAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Animation classes */
.fade-in {
    animation: inAnimation 1.75s forwards 0.5s;
}

.fade-out {
    animation: outAnimation 1.75s forwards;
}
