<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad Background</title>
    <script src="js/spx_interface.js"></script>
    <link rel="stylesheet" type="text/css" href="css/spx_fonts.css" />
    <link rel="stylesheet" type="text/css" id="DynamicTheme" href="themes/default.css" />
    <link rel="stylesheet" href="./AD_BACKGROUND/AD_BACKGROUND.css">
    <script>
        function runTemplateUpdate() {
        }

        function runAnimationIN() {
            // const ad = document.querySelector('.ad');
            // ad.style.animation = 'fadeIn 0.5s ease-in-out forwards';
        }

        function runAnimationOUT() {
            const ad = document.querySelector('.ad');
            ad.style.animation = 'fadeOut 0.5s ease-in forwards';
        }
    </script>
    <script type="text/javascript">
        window.SPXGCTemplateDefinition = {
            "defversion": "1",
            "description": "Advertisement Background",
            "playserver": "OVERLAY",
            "playchannel": "1",
            "playlayer": "1",
            "webplayout": "1",
            "out": "manual",
            "dataformat": "json",
            "uicolor": "6",
            "DataFields": [
                {
                    "ftype" : "instruction",
                    "value" : "This graphic has no inputs, it is the advertisement background"
                },
                {
                    "ftype": "spacer"
                }
            ]
        };
    </script>
</head>

<body>
    <img src="./AD_BACKGROUND/AD_BG.png" alt="Advertisement Background" class="ad">
</body>

</html>