<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Locator</title>
    <script src="js/spx_interface.js"></script>
    <link rel="stylesheet" type="text/css" href="css/spx_fonts.css" />
    <link rel="stylesheet" type="text/css" id="DynamicTheme" href="themes/default.css" />
    <link rel="stylesheet" href="./COMMUNITY_LOCATOR/COMMUNITY_LOCATOR.css">
    <script>
        function runTemplateUpdate() {
            const locatorSpan = document.getElementById('f1_gfx');
            const customLocatorSpan = document.getElementById('f2_gfx');
            // Custom Locator
            e('f1_gfx').innerText = htmlDecode(e('f1').innerHTML);
            e('f2_gfx').innerText = htmlDecode(e('f2').innerHTML);
            processElement('f1_gfx');
            processElement('f2_gfx');
            const customLocator = htmlDecode(e('f2').innerHTML);
            if (customLocator.length > 0) {
                locatorSpan.classList.add('hide');
                customLocatorSpan.classList.remove('hide');
            } else {
                locatorSpan.classList.remove('hide');
                customLocatorSpan.classList.add('hide');
            }
        }

        function replaceSpacesWithNbsp(text) {
            return text.replace(/ /g, '&nbsp;');
        }

        function processElement(id) {
            let element = document.getElementById(id);
            if (element) {
                let decodedText = htmlDecode(element.innerHTML);
                let processedText = replaceSpacesWithNbsp(decodedText);
                element.innerHTML = processedText;
            }
        }

        function runAnimationIN() {
        }

        function runAnimationOUT() {
            const container = document.querySelector('.container');
            const header = document.querySelector('.locator-text');
            header.style.animation = 'hide 0.5s ease-in-out forwards';
            container.style.transform = 'translateX(0)';
            container.style.animation = 'animateOut 0.5s ease-in forwards 0.5s';
            setTimeout(() => {
                container.innerHTML = '';
            }, 500);
        }
    </script>
    <script type="text/javascript">
        window.SPXGCTemplateDefinition = {
            "defversion": "1",
            "description": "Community Locator",
            "playserver": "OVERLAY",
            "playchannel": "1",
            "playlayer": "16",
            "webplayout": "16",
            "out": "manual",
            "dataformat": "json",
            "uicolor": "4",
            "DataFields": [
                {
                    "field": "f1",
                    "ftype": "dropdown",
                    "title": "Locations",
                    "value": "Toronto",
                    "items": [
                        {
                            "text": "St. John’s",
                            "value": "St. John’s"
                        },
                        {
                            "text": "Saint John, New Brunswick",
                            "value": "Saint John, New Brunswick"
                        },
                        {
                            "text": "Charlottetown",
                            "value": "Charlottetown"
                        },
                        {
                            "text": "Halifax",
                            "value": "Halifax"
                        },
                        {
                            "text": "Montreal",
                            "value": "Montreal"
                        },
                        {
                            "text": "Ottawa",
                            "value": "Ottawa"
                        },
                        {
                            "text": "Toronto",
                            "value": "Toronto"
                        },
                        {
                            "text": "Iqaluit",
                            "value": "Iqaluit"
                        },
                        {
                            "text": "Edmonton",
                            "value": "Edmonton"
                        },
                        {
                            "text": "Calgary",
                            "value": "Calgary"
                        },
                        {
                            "text": "Vancouver",
                            "value": "Vancouver"
                        },
                        {
                            "text": "Yellowknife",
                            "value": "Yellowknife"
                        },
                        {
                            "text": "Whitehorse",
                            "value": "Whitehorse"
                        },
                        {
                            "text": "Regina",
                            "value": "Regina"
                        }
                    ]
                },
                {
                    "field": "f2",
                    "ftype": "textfield",
                    "title": "Custom Location",
                    "value": ""
                },
                {
                    "ftype": "spacer"
                }
            ]
        };
    </script>
</head>

<body>
    <div class="container">
        <div class="text-box">
            <h1 class="locator-text">
                <span id="f1_gfx">Toronto</span>
                <span id="f2_gfx" class="hide">Custom</span>
            </h1>
        </div>

        <div style="display:none;"  id="f1"></div>
        <div style="display:none;"  id="f2"></div>
    </div>
</body>

</html>