<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Double Box Titles</title>
    <script src="js/spx_interface.js"></script>
    <link rel="stylesheet" type="text/css" href="css/spx_fonts.css" />
    <link rel="stylesheet" type="text/css" id="DynamicTheme" href="themes/default.css" />
    <link rel="stylesheet" href="./DOUBLE_BOX_TITLES/DOUBLE_BOX_TITLES.css">
    <script>
        function runTemplateUpdate() {
            e('f2_gfx').innerText = htmlDecode(e('f2').innerHTML);
            e('f3_gfx').innerText = htmlDecode(e('f3').innerHTML);
            processElement('f2_gfx');
            processElement('f3_gfx');
            const defaultLocationLeftEl = document.getElementById('f1_gfx_alt');
            const defaultLocationRightEl = document.getElementById('f1_gfx_alt_2');
            const customLeftEl = document.getElementById('f2_gfx');
            const customRightEl = document.getElementById('f3_gfx');
            const location = htmlDecode(e('f1').innerHTML);
            const [left, right] = location.split('|').map(part => part.trim());
            defaultLocationLeftEl.innerText = left;
            defaultLocationRightEl.innerText = right;
            // Custom Left & Right
            const customLeft = htmlDecode(e('f2').innerHTML);
            const customRight = htmlDecode(e('f3').innerHTML);
            if (customLeft.length > 0 && customRight.length > 0) {
                defaultLocationLeftEl.classList.add('hide');
                defaultLocationRightEl.classList.add('hide');
                customLeftEl.classList.remove('hide');
                customRightEl.classList.remove('hide');
            } else {
                defaultLocationLeftEl.classList.remove('hide');
                defaultLocationRightEl.classList.remove('hide');
                customLeftEl.classList.add('hide');
                customRightEl.classList.add('hide');
            }
            // Bottom / Left / Width Property 
            const wrapper = document.getElementById('custom-container');
            wrapper.style.bottom = `${htmlDecode(e('f97').innerText)}px`;
            wrapper.style.left = `${htmlDecode(e('f98').innerText)}px`;
            wrapper.style.width = `${htmlDecode(e('f99').innerText)}vw`;
        }

        function replaceSpacesWithNbsp(text) {
            return text.replace(/ /g, '&nbsp;');
        }

        function processElement(id) {
            let element = document.getElementById(id);
            if (element) {
                let decodedText = htmlDecode(element.innerHTML);
                let processedText = replaceSpacesWithNbsp(decodedText);
                element.innerHTML = processedText;
            }
        }

        function runAnimationIN() {
        }

        function runAnimationOUT() {
            const container = document.querySelector('.container');
            container.style.animation = 'fadeOut 0.5s ease-in forwards';
        }
    </script>
    <script type="text/javascript">
        window.SPXGCTemplateDefinition = {
            "defversion": "1",
            "description": "Double Box Titles",
            "playserver": "OVERLAY",
            "playchannel": "2",
            "playlayer": "15",
            "webplayout": "15",
            "out": "manual",
            "dataformat": "json",
            "uicolor": "6",
            "DataFields": [
                {
                    "field": "f1",
                    "ftype": "dropdown",
                    "title": "Locations",
                    "value": "Toronto | Montreal",
                    "items": [
                        {
                            "text": "Toronto | Montreal",
                            "value": "Toronto | Montreal"
                        },
                        {
                            "text": "Winnipeg | Inglis, Manitoba",
                            "value": "Winnipeg | Inglis, Manitoba"
                        },
                        {
                            "text": "Calgary | Edmonton",
                            "value": "Calgary | Edmonton"
                        },
                        {
                            "text": "Yellowknife | Whitehorse",
                            "value": "Yellowknife | Whitehorse"
                        }
                    ]
                },
                {
                    "field": "f2",
                    "ftype": "textfield",
                    "title": "Custom Left",
                    "value": "",
                },
                {
                    "field": "f3",
                    "ftype": "textfield",
                    "title": "Custom Right",
                    "value": "",
                },
                {
                    "field": "f97",
                    "ftype": "number",
                    "title": "Main Y-Axis",
                    "value": "0"
                },
                {
                    "field": "f98",
                    "ftype": "number",
                    "title": "Main X-Axis",
                    "value": "0"
                },
                {
                    "field": "f99",
                    "ftype": "number",
                    "title": "Width",
                    "value": "70"
                },
            ]
        };
    </script>
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <div id="custom-container">
                <h1 id="f1_gfx_alt">Toronto</h1>
                <h1 id="f1_gfx_alt_2">Montreal</h1>
                <h1 id="f2_gfx" class="hide">Custom 1</h1>
                <h1 id="f3_gfx" class="hide">Custom 2</h1>
            </div>

            <div style="display:none;" id="f1"></div>
            <div style="display:none;" id="f2"></div>
            <div style="display:none;" id="f3"></div>
            <div style="opacity:0;" id="f97"></div>
            <div style="opacity:0;" id="f98"></div>
            <div style="opacity:0;" id="f99"></div>
        </div>
    </div>
</body>

</html>