<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L3 Host Key</title>
    <script src="js/spx_interface.js"></script>
    <link rel="stylesheet" type="text/css" href="css/spx_fonts.css" />
    <link rel="stylesheet" type="text/css" id="DynamicTheme" href="themes/default.css" />
    <link rel="stylesheet" href="./L3_HOST_KEY/L3_HOST_KEY.css">
    <script>
        function runTemplateUpdate() {
            const hostChoice = htmlDecode(e('f1').innerText);
            const host1 = document.querySelector('.host-1');
            const host1Alt = document.querySelector('.host-1-alt');
            const host2 = document.querySelector('.host-2');
            const host3 = document.querySelector('.host-3');
            const host4 = document.querySelector('.host-4');
            const group1 = document.getElementById('group1');
            const group2 = document.getElementById('group2');
            if (hostChoice == 'Adrienne') {
                host1Alt.classList.remove('hide');
                group1.classList.remove('hide');
            } else if (hostChoice == 'Adrienne / Jann') {
                host1.classList.remove('hide');
                host2.classList.remove('hide');
                group2.classList.remove('hide');
            } else if (hostChoice == 'Ian') {
                host3.classList.remove('hide');
                group1.classList.remove('hide');
            } else if (hostChoice == 'Ian / Andrew') {
                host3.classList.remove('hide');
                host4.classList.remove('hide');
                group2.classList.remove('hide');
            }
        }

        function runAnimationIN() {
        }

        function runAnimationOUT() {
            const container = document.querySelector('.container');
            container.style.animation = 'fadeOut 0.5s linear forwards';
            setTimeout(() => {
                container.style.display = 'none';
            }, 500);
        }
    </script>
    <script type="text/javascript">
        window.SPXGCTemplateDefinition = {
            "defversion": "1",
            "description": "Lower Third Host Key",
            "playserver": "OVERLAY",
            "playchannel": "1",
            "playlayer": "8",
            "webplayout": "8",
            "out": "manual",
            "dataformat": "json",
            "uicolor": "6",
            "DataFields": [
            {
                    "field": "f1",
                    "ftype": "dropdown",
                    "title": "Host(s)",
                    "value": "Adrienne",
                    "items": [
                        {
                            "text": "Adrienne",
                            "value": "Adrienne"
                        },
                        {
                            "text": "Adrienne / Jann",
                            "value": "Adrienne / Jann"
                        },
                        {
                            "text": "Ian",
                            "value": "Ian"
                        },
                        {
                            "text": "Ian / Andrew",
                            "value": "Ian / Andrew"
                        }
                    ]
                },
                {
                    "ftype": "spacer"
                }
            ]
        };
    </script>
</head>

<body>
    <div class="container">
        <div class="pre-gem shift-left hide" id="group1">
            <svg class="pre-img-1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 65 125.17">
                <path d="M0,125.17c34.52,0,65-28.07,65-62.59S34.52,0,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-2" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 125.17 125.17">
                <path d="M62.59,125.17C28.02,125.17,0,97.15,0,62.59S28.02,0,62.59,0s62.59,28.02,62.59,62.59-28.02,62.59-62.59,62.59" fill="currentColor" />
            </svg>
            <svg class="pre-img-3" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 65 125.17">
                <path d="M0,125.17c34.52,0,65-28.07,65-62.59S34.52,0,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-4" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 30 125.17">
                <path d="M0,125.17c18.71-12.49,30-35.84,30-62.59S18.71,12.49,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-5" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 30 125.17">
                <path d="M0,125.17c18.71-12.49,30-35.84,30-62.59S18.71,12.49,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-6" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 65 125.17">
                <path d="M0,125.17c34.52,0,65-28.07,65-62.59S34.52,0,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-7" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 125.17 125.17">
                <path d="M62.59,125.17C28.02,125.17,0,97.15,0,62.59S28.02,0,62.59,0s62.59,28.02,62.59,62.59-28.02,62.59-62.59,62.59" fill="currentColor" />
            </svg>
        </div>

        <div class="pre-gem shift-left-alt hide" id="group2">
            <svg class="pre-img-1 delay-1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 65 125.17">
                <path d="M0,125.17c34.52,0,65-28.07,65-62.59S34.52,0,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-2 delay-2" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 125.17 125.17">
                <path d="M62.59,125.17C28.02,125.17,0,97.15,0,62.59S28.02,0,62.59,0s62.59,28.02,62.59,62.59-28.02,62.59-62.59,62.59" fill="currentColor" />
            </svg>
            <svg class="pre-img-3 delay-3" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 65 125.17">
                <path d="M0,125.17c34.52,0,65-28.07,65-62.59S34.52,0,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-4 delay-4" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 30 125.17">
                <path d="M0,125.17c18.71-12.49,30-35.84,30-62.59S18.71,12.49,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-5 delay-5" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 30 125.17">
                <path d="M0,125.17c18.71-12.49,30-35.84,30-62.59S18.71,12.49,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-6 delay-6" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 65 125.17">
                <path d="M0,125.17c34.52,0,65-28.07,65-62.59S34.52,0,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-7 delay-7" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 125.17 125.17">
                <path d="M62.59,125.17C28.02,125.17,0,97.15,0,62.59S28.02,0,62.59,0s62.59,28.02,62.59,62.59-28.02,62.59-62.59,62.59" fill="currentColor" />
            </svg>
        </div>

        <div class="row">
            <div class="hide name-bar host-1-alt">
                <h1>Adrienne Arsenault</h1>
            </div>
            <div class="hide name-bar host-1">
                <h1>Adrienne Arsenault</h1>
            </div>
            <div class="hide name-bar host-2">
                <h1>Jann Arden</h1>
            </div>
            <div class="hide name-bar host-3">
                <h1>Ian Hanomansing</h1>
            </div>
            <div class="hide name-bar host-4">
                <h1>Andrew Phung</h1>
            </div>
        </div>

        <div style="display:none;"  id="f1"></div>
    </div>
</body>

</html>