<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L3 Main Message</title>
    <script src="js/spx_interface.js"></script>
    <link rel="stylesheet" type="text/css" href="css/spx_fonts.css" />
    <link rel="stylesheet" type="text/css" id="DynamicTheme" href="themes/default.css" />
    <link rel="stylesheet" href="./L3_MAIN_MESSAGE/L3_MAIN_MESSAGE.css">
    <script>
        let interval;
        let timeCode = '';

        function runTemplateUpdate() {
            timeCode = document.getElementById('f1').innerText;
        }

        function runAnimationIN() {
        }

        function runAnimationNEXT() {
            const countdownContainer = document.querySelector('.countdown');
            const mainTitleContainer = document.querySelector('.main-title');
            const countdownElements = document.querySelectorAll('.countdown span, .main-title span');
            countdownElements.forEach((el) => {
                el.style.animation = 'fadeOutUp 1s ease-in-out forwards';
            });

            setTimeout(() => {
                countdownContainer.style.display = 'none';
                mainTitleContainer.style.display = 'none';
                const happyNewYearContainer = document.querySelector('.new-year');
                happyNewYearContainer.style.display = 'inline-block';
                const happyNewYearElements = document.querySelectorAll('.new-year span');
                happyNewYearElements.forEach((el, index) => {
                    el.classList.add('new-year-animation');
                    el.style.animationDelay =  `${index * 0.35}s`;
                });
                triggerLocations(timeCode);
            }, 500);
        }

        function runAnimationOUT() {
            const container = document.querySelector('.container');
            container.style.animation = 'fadeOutUp 1s ease-in-out forwards';
            clearInterval(interval);
        }

        window.onload = function() {
            document.querySelectorAll('.main-title span, .countdown span').forEach((letter, index) => {
                letter.style.animationDelay = `${index * 0.02}s`;
            });
        }

        const locations = {
            NT: [
                "St. John’s", "Mount Pearl", "Clarenville", "Grand Bank", "Fortune",
                "Point May", "Chance Cove", "Fogo Island", "Musgrave Harbour", 
                "Stephenville", "Flowers Cove", "Three Mile Rock", "Port Saunders", 
                "Bishop’s Falls", "Baie Verte", "Deer Lake", "St. Alban’s", 
                "Grand Falls-Windsor", "Harbour Main", "Paradise", "Placentia", 
                "Conception Bay South", "Bay Bulls", "Burnt Cove", "Cootes Pond"
            ],
            AT: [
                "Charlottetown", "Cape Breton Island", "Fredericton", "Cavendish", 
                "Bridgewater", "Bathurst", "Labrador City", "Bay Fortune", 
                "Wolfville", "Grand Falls", "Halifax", "Quispamsis", "Kensington", 
                "Oromocto", "Antigonish", "Miscouche", "Digby", "Moncton", "Tignish", 
                "Pictou", "Saint John", "Tyne Valley", "Yarmouth", "Caraquet", 
                "Cardigan"
            ],
            ET: [
                "Iqaluit", "Mirabel", "Kimmirut", "Brantford", "Trois-Rivières", 
                "Strathroy", "Kuujjuaq", "Timmins", "Rivière-du-Loup", "North Bay", 
                "Rimouski", "Chicoutimi", "Saguenay", "Ingersoll", "Petrolia", 
                "Tilbury", "Cornwall", "Thunder Bay", "Laval", "Portneuf", 
                "Burlington", "Baie-Comeau", "Oshawa", "Gaspé", "Turkey Point", 
                "Waterdown"
            ],
            CT: [
                "Flin Flon", "La Loche", "Arviat", "The Pas", "La Ronge", 
                "Kindersley", "Yorkton", "Qamani'tuaq", "Mistuhekasookun", 
                "Churchill", "Melville", "Weyburn", "Prince Albert", "Stanley Mission", 
                "Neepawa", "Humboldt", "Meadow Lake", "Winkler", "Lac du Bonnet", 
                "Swan River", "Estevan", "Fort Qu'Appelle", "Thompson", 
                "Steinbach", "Dawson Bay"
            ],
            MT: [
                "Red Deer", "Yellowknife", "Okotoks", "Old Crow", "Hay River", 
                "Jasper", "Behchokǫ̀", "Wekweètì", "Whitehorse", "Tuktoyaktuk", 
                "Grande Prairie", "Dawson City", "Inuvik", "Whatì", "Creston", 
                "Fort McMurray", "High Level", "Kugluktuk", "Peerless Lake", 
                "Burwash Landing", "Medicine Hat", "Aklavik", "Airdrie", 
                "Liard River", "Canmore", "Fox Creek", "Keg River", "Lac La Biche", 
                "Kimball", "Steen River", "Fort St. John"
            ],
            PT: [
                "Osoyoos", "Lillooet", "Nanaimo", "Kyuquot", "Hope",
                "Williams Lake", "Prince Rupert", "Burns Lake", "Chilliwack",
                "Bowen Island", "Maple Ridge", "Langley", "Vancouver", "Victoria", 
                "Kamloops", "Revelstoke", "Winter Harbour", "Iskut", "100 Mile House", 
                "Surrey", "Powell River", "Blue River", "Fraser", "Whistler", "Kaslo"
            ]
        };

        function triggerLocations(timeCode) {
            const locationSpan = document.querySelector('.location');
            locationSpan.style.display = 'inline-block';
            startCountdown(timeCode);
        }

        function startCountdown(timeCode) {
            clearInterval(interval);
            const selectedArray = locations[timeCode];
            let count = 0;
            let maxItems = selectedArray.length;
            interval = setInterval(() => {
                const locationSpan = document.querySelector('.location');
                locationSpan.textContent = selectedArray[count];
                count++;
                if (count >= maxItems) {
                    count = 0;
                }
            }, 1000);
        }
    </script>
    <script type="text/javascript">
        window.SPXGCTemplateDefinition = {
            "defversion": "1",
            "description": "Main Message",
            "playserver": "OVERLAY",
            "playchannel": "2",
            "playlayer": "9",
            "webplayout": "9",
            "out": "manual",
            "dataformat": "json",
            "steps": "2",
            "uicolor": "1",
            "DataFields": [
                {
                    "field": "f1",
                    "ftype": "dropdown",
                    "title": "Time Zone",
                    "value": "ET",
                    "items": [
                        {
                            "text": "Newfoundland",
                            "value": "NT"
                        },
                        {
                            "text": "Atlantic",
                            "value": "AT"
                        },
                        {
                            "text": "Eastern",
                            "value": "ET"
                        },
                        {
                            "text": "Central",
                            "value": "CT"
                        },
                        {
                            "text": "Mountain",
                            "value": "MT"
                        },
                        {
                            "text": "Pacific",
                            "value": "PT"
                        }
                    ]
                },
                {
                    "ftype": "spacer"
                }
            ]
        };
    </script>
</head>

<body>
    <div class="container">
        <h1>
            <span class="main-title">
                <span>L</span><span>I</span><span>V</span><span>E</span><span>!</span>
              </span>
              <span class="countdown">
                <span>C</span><span>r</span><span>o</span><span>s</span><span>s</span><span style="margin-right:-10px">-</span>
                <span>C</span><span>a</span><span>n</span><span>a</span><span>d</span><span>a</span> 
                <span>C</span><span>o</span><span>u</span><span>n</span><span>t</span><span>d</span><span>o</span><span>w</span><span>n</span>
              </span>
              <span class="new-year">
                <span>Happy</span>
                <span>New</span>
                <span>Year!</span>
              </span>
              <span class="location"></span>
        </h1>

        <div style="display:none;"  id="f1"></div>
    </div>
</body>

</html>