<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L3 Right Gem</title>
    <script src="js/spx_interface.js"></script>
    <link rel="stylesheet" type="text/css" href="css/spx_fonts.css" />
    <link rel="stylesheet" type="text/css" id="DynamicTheme" href="themes/default.css" />
    <link rel="stylesheet" href="./L3_RIGHT_GEM/L3_RIGHT_GEM.css">
    <script>
        let animationInterval;

        function runTemplateUpdate() {
        }

        function runAnimationIN() {
        }

        function runAnimationOUT() {
            clearInterval(animationInterval);
            const img1 = document.querySelector('.img-1');
            img1.style.opacity = '1';
            img1.style.animation = 'fadeOut 0.25s ease-in forwards 0.2s';

            const img2 = document.querySelector('.img-2');
            img2.style.opacity = '1';
            img2.style.animation = 'fadeOut 0.25s ease-in forwards 0.3s';

            const img3 = document.querySelector('.img-3');
            img3.style.opacity = '1';
            img3.style.animation = 'fadeOut 0.25s ease-in forwards';

            const img4 = document.querySelector('.img-4');
            img4.style.opacity = '1';
            img4.style.top = '-80px';
            img4.style.animation = 'fadeOut 0.25s ease-in forwards 0.4s';

            const img5 = document.querySelector('.img-5');
            img5.style.opacity = '1';
            img5.style.top = '-83.5px';
            img5.style.animation = 'fadeOut 0.25s ease-in forwards 0.5s';

            setTimeout(() => {
                const container = document.querySelector('.container');
                container.style.display = 'none';
            }, 750);
        }

        function flashAnimations() {
            const animateElement = (element, animation, duration, delay, easing = 'linear') => {
                // Clear any existing animation styles
                element.style.animation = 'none';

                // Force reflow to reset animations
                element.offsetHeight; 

                // Apply the new animation
                element.style.animation = `${animation} ${duration} ${easing} ${delay} forwards`;

                // Listen for `animationend` to clean up if needed
                element.addEventListener(
                    'animationend',
                    () => {
                        element.style.animation = ''; // Reset after animation ends
                    },
                    { once: true }
                );
            };

            const img1 = document.querySelector('.img-1');
            img1.classList.remove('animate-1');
            img1.style.opacity = '1'; // Set initial opacity
            animateElement(img1, 'flash', '1.2s', '0.5s');

            const img2 = document.querySelector('.img-2');
            img2.classList.remove('animate-2');
            img2.style.opacity = '1';
            animateElement(img2, 'flash', '1s', '0.4s');

            const img3 = document.querySelector('.img-3');
            img3.classList.remove('animate-3');
            img3.style.opacity = '1';
            animateElement(img3, 'flash', '0.8s', '0s');

            const img4 = document.querySelector('.img-4');
            img4.classList.remove('animate-4');
            img4.style.opacity = '1';
            img4.style.top = '-80px'; // Adjust position
            animateElement(img4, 'longFlash', '4s', '0.8s');

            const img5 = document.querySelector('.img-5');
            img5.classList.remove('animate-5');
            img5.style.opacity = '1';
            img5.style.top = '-84px'; // Adjust position
            animateElement(img5, 'flash', '1s', '0.2s');
        }

        animationInterval = setInterval(() => {
            flashAnimations();
        }, 40000);
    </script>
    <script type="text/javascript">
        window.SPXGCTemplateDefinition = {
            "defversion": "1",
            "description": "Lower Third Right Gem",
            "playserver": "OVERLAY",
            "playchannel": "2",
            "playlayer": "19",
            "webplayout": "19",
            "out": "manual",
            "dataformat": "json",
            "uicolor": "6",
            "DataFields": [
                {
                    "ftype" : "instruction",
                    "value" : "This graphic has no inputs, it is the lower third right gem"
                },
                {
                    "ftype": "spacer"
                }
            ]
        };
    </script>
</head>

<body>
    <div class="container">
        <div class="pre-gem">
            <svg class="pre-img-1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 65 125.17">
                <path d="M0,125.17c34.52,0,65-28.07,65-62.59S34.52,0,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-2" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 125.17 125.17">
                <path d="M62.59,125.17C28.02,125.17,0,97.15,0,62.59S28.02,0,62.59,0s62.59,28.02,62.59,62.59-28.02,62.59-62.59,62.59" fill="currentColor" />
            </svg>
            <svg class="pre-img-3" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 65 125.17">
                <path d="M0,125.17c34.52,0,65-28.07,65-62.59S34.52,0,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-4" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 30 125.17">
                <path d="M0,125.17c18.71-12.49,30-35.84,30-62.59S18.71,12.49,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-5" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 30 125.17">
                <path d="M0,125.17c18.71-12.49,30-35.84,30-62.59S18.71,12.49,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-6" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 65 125.17">
                <path d="M0,125.17c34.52,0,65-28.07,65-62.59S34.52,0,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="pre-img-7" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 125.17 125.17">
                <path d="M62.59,125.17C28.02,125.17,0,97.15,0,62.59S28.02,0,62.59,0s62.59,28.02,62.59,62.59-28.02,62.59-62.59,62.59" fill="currentColor" />
            </svg>
        </div>
        <div class="gem">
            <svg class="img-1 animate-1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 65 125.17">
                <path d="M0,125.17c34.52,0,65-28.07,65-62.59S34.52,0,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="img-2 animate-2" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 32 125.17">
                <path d="M0,125.17c18.71-12.49,32-35.84,32-62.59S18.71,12.49,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="img-3 animate-3" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 32 125.17">
                <path d="M0,125.17c18.71-12.49,32-35.84,32-62.59S18.71,12.49,0,0v125.17Z" fill="currentColor" />
            </svg>
            <svg class="img-4 animate-4" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 62.59 62.59">
                <path d="M0,62.59V0c34.52,0,62.59,28.07,62.59,62.59H0Z" fill="currentColor" />
            </svg>
            <svg class="img-5 animate-5" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 62.59 62.59">
                <path d="M0,62.59V0c34.52,0,62.59,28.07,62.59,62.59H0Z" fill="currentColor" />
            </svg>
        </div>
    </div>
</body>

</html>