<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L3 Super</title>
    <script src="js/spx_interface.js"></script>
    <link rel="stylesheet" type="text/css" href="css/spx_fonts.css" />
    <link rel="stylesheet" type="text/css" id="DynamicTheme" href="themes/default.css" />
    <link rel="stylesheet" href="./L3_SUPER/L3_SUPER.css">
    <script>
        function runTemplateUpdate() {
            e('f2_gfx').innerText = htmlDecode(e('f2').innerHTML);
            e('f3_gfx').innerText = htmlDecode(e('f3').innerHTML);
            processElement('f2_gfx');
            processElement('f3_gfx');
            const defaultNameEl = document.getElementById('f1_gfx_alt');
            const defaultTitleEl = document.getElementById('f1_gfx_alt_2');
            const customNameEl = document.getElementById('f2_gfx');
            const customTitleEl = document.getElementById('f3_gfx');
            const nameTitle = htmlDecode(e('f1').innerHTML);
            const [name, title] = nameTitle.split('|').map(part => part.trim());
            defaultNameEl.innerHTML = name;
            defaultTitleEl.innerHTML = title;
            // Custom Name & Title
            const customName = htmlDecode(e('f2').innerHTML);
            const customTitle = htmlDecode(e('f3').innerHTML);
            if (customName.length > 0 && customTitle.length > 0) {
                defaultNameEl.classList.add('hide');
                defaultTitleEl.classList.add('hide');
                customNameEl.classList.remove('hide');
                customTitleEl.classList.remove('hide');
            } else {
                defaultNameEl.classList.remove('hide');
                defaultTitleEl.classList.remove('hide');
                customNameEl.classList.add('hide');
                customTitleEl.classList.add('hide');
            }
            // Bottom / Left Property 
            const wrapper = document.getElementById('custom-container');
            wrapper.style.bottom = `${htmlDecode(e('f97').innerText)}px`;
            wrapper.style.left = `${htmlDecode(e('f98').innerText)}px`;
        }

        function replaceSpacesWithNbsp(text) {
            return text.replace(/ /g, '&nbsp;');
        }

        function processElement(id) {
            let element = document.getElementById(id);
            if (element) {
                let decodedText = htmlDecode(element.innerHTML);
                let processedText = replaceSpacesWithNbsp(decodedText);
                element.innerHTML = processedText;
            }
        }

        function runAnimationIN() {
            // const row = document.querySelector('.row');
            // const divider = document.querySelector('.divider');
            // const wipe = document.querySelector('.wipe');
            // const font = document.querySelector('.font');
            // row.style.animation = 'fade-in 0.5s ease-in-out forwards';
            // divider.style.animation = 'fade-in 0.1s ease forwards 0.4s';
            // wipe.style.animation = 'wipe-expand 0.5s ease-in-out forwards 0.6s, wipe-clip 0.5s ease-in-out 1s forwards';
            // font.style.animation = 'fade-in 0.5s ease forwards 1s';
        }

        function runAnimationOUT() {
            const row = document.querySelector('.row');
            row.style.opacity = '1';
            row.style.animation = 'fade-out 0.5s ease-in-out forwards';
        }
    </script>
    <script type="text/javascript">
        window.SPXGCTemplateDefinition = {
            "defversion": "1",
            "description": "Lower Third Super",
            "playserver": "OVERLAY",
            "playchannel": "2",
            "playlayer": "8",
            "webplayout": "8",
            "out": "manual",
            "dataformat": "json",
            "uicolor": "3",
            "DataFields": [
                {
                    "field": "f1",
                    "ftype": "dropdown",
                    "title": "Supers",
                    "value": "Krissy Holmes | CBC News",
                    "items": [
                        {
                            "text": "Krissy Holmes | CBC News",
                            "value": "Krissy Holmes | CBC News"
                        },
                        {
                            "text": "Clare MacKenzie | CBC News",
                            "value": "Clare MacKenzie | CBC News"
                        },
                        {
                            "text": "Sheehan Desjardins | CBC News",
                            "value": "Sheehan Desjardins | CBC News"
                        },
                        {
                            "text": "Amy Smith | CBC News",
                            "value": "Amy Smith | CBC News"
                        },
                        {
                            "text": "Kwabena Oduro | CBC News",
                            "value": "Kwabena Oduro | CBC News"
                        },
                        {
                            "text": "Rachelle Elsiufi | CBC News",
                            "value": "Rachelle Elsiufi | CBC News"
                        },
                        {
                            "text": "David Common | CBC News",
                            "value": "David Common | CBC News"
                        },
                        {
                            "text": "Faith Fundal | CBC News",
                            "value": "Faith Fundal | CBC News"
                        },
                        {
                            "text": "Candice Lipski | CBC News",
                            "value": "Candice Lipski | CBC News"
                        },
                        {
                            "text": "Acton Clarkin | CBC News",
                            "value": "Acton Clarkin | CBC News"
                        },
                        {
                            "text": "Nancy Carlson | CBC News",
                            "value": "Nancy Carlson | CBC News"
                        },
                        {
                            "text": "Jo Horwood | CBC News",
                            "value": "Jo Horwood | CBC News"
                        },
                        {
                            "text": "Baneet Braich | CBC News",
                            "value": "Baneet Braich | CBC News"
                        },
                        {
                            "text": "Dan Burritt | CBC News",
                            "value": "Dan Burritt | CBC News"
                        },
                        {
                            "text": "Shannon Scott | CBC News",
                            "value": "Shannon Scott | CBC News"
                        },
                        {
                            "text": "Virginie Ann | CBC News",
                            "value": "Virginie Ann | CBC News"
                        },
                        {
                            "text": "Diana Matheson | Co-founder, Northern Super League",
                            "value": "Diana Matheson | Co-founder, Northern Super League"
                        },
                        {
                            "text": "Lauren Chan | Model",
                            "value": "Lauren Chan | Model"
                        },
                        {
                            "text": "Stacey Aglok MacDonald \u0026 Alethea Arnaquq-Baril | \u201cNorth of North\u201d Co-Creators",
                            "value": "Stacey Aglok MacDonald \u0026 Alethea Arnaquq-Baril | \u201cNorth of North\u201d Co-Creators"
                        },
                        {
                            "text": "Stacey Aglok MacDonald | \u201cNorth of North\u201d Co-Creator",
                            "value": "Stacey Aglok MacDonald | \u201cNorth of North\u201d Co-Creator"
                        },
                        {
                            "text": "Alethea Arnaquq-Baril | \u201cNorth of North\u201d Co-Creator",
                            "value": "Alethea Arnaquq-Baril | \u201cNorth of North\u201d Co-Creator"
                        },
                        {
                            "text": "Mattea Roach | Host, CBC\u2019s Bookends",
                            "value": "Mattea Roach | Host, CBC\u2019s Bookends"
                        },
                        {
                            "text": "Sarain Fox | Filmmaker",
                            "value": "Sarain Fox | Filmmaker"
                        },
                        {
                            "text": "Nimkii Osawamick | Two-time Juno-nominated Drummer",
                            "value": "Nimkii Osawamick | Two-time Juno-nominated Drummer"
                        },
                        {
                            "text": "Anthony Morgan | Host, CBC\u2019s The Nature of Things",
                            "value": "Anthony Morgan | Host, CBC\u2019s The Nature of Things"
                        },
                        {
                            "text": "Luke Hutchie | \u201cGhosting\u201d",
                            "value": "Luke Hutchie | \u201cGhosting\u201d"
                        },
                        {
                            "text": "Matthew Finlan | \u201cGhosting\u201d",
                            "value": "Matthew Finlan | \u201cGhosting\u201d"
                        },
                        {
                            "text": "Chandan Singh | \u201cBollywed\u201d",
                            "value": "Chandan Singh | \u201cBollywed\u201d"
                        },
                        {
                            "text": "Roop Singh | \u201cBollywed\u201d",
                            "value": "Roop Singh | \u201cBollywed\u201d"
                        },
                        {
                            "text": "Jade Eagleson | Singer-songwriter",
                            "value": "Jade Eagleson | Singer-songwriter"
                        },
                        {
                            "text": "Sarika Cullis-Suzuki | Host, CBC\u2019s The Nature of Things",
                            "value": "Sarika Cullis-Suzuki | Host, CBC\u2019s The Nature of Things"
                        },
                        {
                            "text": "Jeff Musson | Executive Director, Coding for Veterans",
                            "value": "Jeff Musson | Executive Director, Coding for Veterans"
                        }
                    ]
                },
                {
                    "field": "f2",
                    "ftype": "textfield",
                    "title": "Custom Name",
                    "value": ""
                },
                {
                    "field": "f3",
                    "ftype": "textfield",
                    "title": "Custom Title",
                    "value": ""
                }
            ]
        };
    </script>
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <div id="custom-container">
                <div class="row">
                    <div class="name-bar">
                        <h1 id="f1_gfx_alt">Michael Alsayegh</h1>
                        <h1 id="f2_gfx" class="hide">Michael Alsayegh</h1>
                    </div>
                    <div class="title-bar">
                        <h1>
                            <span class="divider"></span>
                            <span class="wipe"></span>
                            <span id="f1_gfx_alt_2" class="font">Quebec Order of Chemists President</span>
                            <span id="f3_gfx" class="font hide">Quebec Order of Chemists President</span>
                        </h1>
                    </div>
                </div>
    
                <div style="display:none;" id="f1"></div>
                <div style="display:none;" id="f2"></div>
                <div style="display:none;" id="f3"></div>
                <div style="opacity:0;" id="f97"></div>
                <div style="opacity:0;" id="f98"></div>
            </div>
        </div>
    </div>
</body>

</html>