@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/Gotham-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: transparent;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#font-bg {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    position: absolute;
    bottom: 200px;
}

#custom-container {
    position: absolute;
    bottom: 0px;
}

.bar-container {
    position: relative;
    width: max-content;
}

.gold-bar {
    position: absolute;
    top: 1px;
    z-index: 1;
    background: url(../9008/gold-bar.png) no-repeat;
    height: 78.5px;
    max-width: calc(65vw + 10px);
    background-size: cover;
    background-position: top right;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%);
    animation: slideIn .5s ease-in-out forwards;
}

.black-bar {
    position: absolute;
    top: 0;
    z-index: 2;
    display: inline-block;
    background: url(../9008/black-bar.png) no-repeat;
    width: max-content;
    max-width: 65vw;
    height: 80px;
    background-size: cover;
    background-position: bottom left;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%);
    animation: slideIn .5s ease-in-out forwards 0.2s;
}

.text-layer-9008 {
    pointer-events: none; 
    color: white;
    font-family: "Gotham Light", sans-serif;
    font-weight: 600;
    font-size: 32px;
    z-index: 3;
    padding-right: 20px;
    display: inline;
    position: relative;
    top: 7px;
    margin-left: 5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alt-text {
    font-size: 25px;
    top: 10px;
}

.top-box {
    width: max-content;
    height: 41px;
    background: rgba(243, 249, 255, 0.9);
    position: absolute;
    top: -40px;
    left: calc(5vw - 15px);
    opacity: 0;
    animation: slideUpTop .3s ease-in forwards .3s;
    clip-path: polygon(9px 0%, 100% 0%, 100% 100%, 0% 100%);
    display: inline-block;
}

.courtesy-text {
    pointer-events: none; 
    color: #333;
    font-family: "Gotham Light", sans-serif;
    font-weight: 600;
    font-size: 26px;
    display: inline;
    position: relative;
    top: 6px;
    margin-left: 15px;
    padding-right: 15px;
}

/* Main Bar ---------------- */

/* Animate In */
@keyframes slideIn {
    0% {
        clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

/* Animate Out */
@keyframes slideOut {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%);
    }
}

/* Top Bar ----------------- */

/* Animate In */
@keyframes slideUpTop {
    0% {
        top: 0;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        top: -40px;
        opacity: 1;
    }
}

/* Animate Out */
@keyframes slideDownTop {
    0% {
        top: -40px;
        opacity: 1;
    }
    98% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 0;
    }
}