@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/Gotham-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: transparent;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#font-bg {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    position: absolute;
    bottom: 150px;
    left: 33vw;
}

#custom-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.left-box {
    position: absolute;
    left: -167px;
    z-index: 10;
}

.flag-container {
    height: 110.5px;
    clip-path: inset(0 0 0 100%);
    opacity: 0;
    animation: revealLeft .5s linear forwards;
}

.flag-name {
    position: absolute;
    top: 10px;
    left: 25px;
    font-family: "Gotham Light", sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: white;
}

.bar-container {
    position: relative;
    width: max-content;
}

.gold-bar {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
    background: url(../9000/gold-bar.png) no-repeat;
    height: 68.5px;
    max-width: calc(90vw + 15px);
    background-size: cover;
    background-position: top right;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%);
    animation: slideIn .5s ease-in-out forwards .1s;
}

.black-bar {
    position: absolute;
    top: 0;
    z-index: 2;
    display: inline-block;
    background: url(../9000/black-bar.png) no-repeat;
    width: max-content;
    max-width: 90vw;
    height: 70px;
    background-size: cover;
    background-position: left;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%);
    animation: slideIn .5s ease-in-out forwards .2s;
}

.text-layer-9000 {
    pointer-events: none; 
    color: white;
    font-family: "Gotham Light", sans-serif;
    font-weight: 600;
    font-size: 45px;
    z-index: 3;
    padding-right: 60px;
    display: inline;
    position: relative;
    top: 10px;
    margin-left: 70px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.bottom-box {
    height: 41px;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: -9px;
    opacity: 0;
    animation: slideDownBottom .6s ease-in-out forwards .2s;
    clip-path: polygon(9px 0, 100% 0, 100% 100%, 0% 100%);
}

.subtitle-text {
    pointer-events: none; 
    color: white;
    font-family: "Gotham Light", sans-serif;
    font-weight: 600;
    font-size: 26px;
    z-index: 3;
    padding-right: 60px;
    display: inline;
    position: relative;
    top: 7px;
    margin-left: 80px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.top-box {
    width: max-content;
    height: 41px;
    background: rgba(243, 249, 255, 0.9);
    position: absolute;
    top: -40px;
    left: 22px;
    opacity: 0;
    animation: slideUpTop .5s ease-in forwards .2s;
    display: inline-block;
    clip-path: polygon(9px 0%, 100% 0%, 100% 100%, 0% 100%);
}

.courtesy-text {
    pointer-events: none; 
    color: #333;
    font-family: "Gotham Light", sans-serif;
    font-weight: 600;
    font-size: 26px;
    display: inline;
    position: relative;
    top: 6px;
    margin-left: 48px;
    padding-right: 30px;
}

/* Main Bar ---------------- */

/* Animate In */
@keyframes slideIn {
    0% {
        clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(15px 0, 100% 0, 100% 100%, 0% 100%);
    }
}

/* Animate Out */
@keyframes slideOut {
    0% {
        clip-path: polygon(15px 0, 100% 0, 100% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%);
    }
}

/* Bottom Bar -------------- */

/* Animate In */
@keyframes slideDownBottom {
    0% {
        top: 0;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    100% {
        top: 69px;
        opacity: 1;
    }
}

/* Animate Out */
@keyframes slideUpBottom {
    0% {
        top: 69px;
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 0;
    }
}

/* Top Bar ----------------- */

/* Animate In */
@keyframes slideUpTop {
    0% {
        top: 0;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        top: -40px;
        opacity: 1;
    }
}

/* Animate Out */
@keyframes slideDownTop {
    0% {
        top: -40px;
        opacity: 1;
    }
    98% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 0;
    }
}

/* Left Box ----------------- */

/* Animate In */
@keyframes revealLeft {
    0% {
        clip-path: inset(0 0 0 100%);
        opacity: 1;
    }
    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

/* Animate Out */
@keyframes hideLeft {
    from {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    to {
        clip-path: inset(0 0 0 100%);
        opacity: 1;
    }
}
