@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/RadioCanada-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'Radio-Canada Italic';
    src: url('../fonts/RadioCanada-Italic-Variable.ttf') format('opentype');
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Radio-Canada', sans-serif;
}

.container {
    position: absolute;
    bottom: 104px;
    left: 144px;
    height: 176px;
    width: 251px;
    z-index: 4;
}

.live-box {
    position: absolute;
    z-index: 4;
    left: -26px;
    height: 44px;
    width: 95px;
    overflow: hidden;
}

.yellow-box {
    background: #f6cb2c;
    position: absolute;
    z-index: 4;
    left: -26px;
    height: 44px;
    width: 121px;
    overflow: hidden;
    clip-path: inset(0 100% 0 0);
    animation: clipIn 0.5s ease-out 0.75s forwards;
}

.live-text {
    position: relative;
    left: 0px;
    top: -28px;
    font-size: 40px;
    color: white;
    animation: flashAndResize 1.25s ease-in-out forwards;
    z-index: 5;
}

/* Flashing and resizing animation */
@keyframes flashAndResize {
    0% {
        font-size: 40px;
        color: white;
        left: 0px;
        top: -28px;
    }
    25% {
        color: transparent;
    }
    50% {
        color: white;
    }
    75% {
        color: transparent;
        font-size: 40px;
        left: 0px;
        top: -28px;
    }
    100% {
        font-size: 30px;
        color: black;
        left: 17px;
        top: -15px;
    }
}

/* Clip-in animation for live-box */
@keyframes clipIn {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes clipOut {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 100% 0 0);
    }
}